<h2>Libros destacados</h2>
<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="card card-chart-bottom o-hidden mb-4">
      <div class="card-body">
        <div class="text-muted">Aca va el nombre del libro mas prestado</div>
        <p class="mb-4 text-primary text-24">Numero de prestamos</p>
      </div>
      <div id="echart1" style="height: 260px"></div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6">
    <div class="card card-chart-bottom o-hidden mb-4">
      <div class="card-body">
        <div class="text-muted">Aca va el nombre del libro mas prestado</div>
        <p class="mb-4 text-warning text-24">Numero de prestamos</p>
      </div>
      <div id="echart2" style="height: 260px"></div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6">
    <div class="card card-chart-bottom o-hidden mb-4">
      <div class="card-body">
        <div class="text-muted">Aca va el nombre del libro mas prestado</div>
        <p class="mb-4 text-info text-24">Numero de prestamos</p>
      </div>
      <div id="echart3" style="height: 260px"></div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6">
    <div class="card card-chart-bottom o-hidden mb-4">
      <div class="card-body">
        <div class="text-muted">Aca va el nombre del libro mas prestado</div>
        <p class="mb-4 text-success text-24">Numero de presstamos</p>
      </div>
      <div id="echart4" style="height: 260px"></div>
    </div>
  </div>
</div>
