.selected {
    background-color: #bfd4e2;
}

table {
    width: 100%;
}

.mat-elevation-z8 {
    box-shadow: 0px 5px 5px -3px rgba(62, 66, 102, 0.1),
        0px 8px 10px 1px rgba(99, 105, 126, 0.07),
        0px 3px 14px 2px rgba(75, 101, 131, 0.06) !important;
}
.estado-prestado {
    background-color: #fff3cd; /* Amarillo claro */
    color: #856404; /* Amarillo oscuro */
    border-radius: 6px;
    padding: 0 4px;
  }
  
  .estado-devuelto {
    background-color: #d4edda; /* Verde claro */
    color: #155724; /* Verde oscuro */
    border-radius: 6px;
    padding: 0 4px;
  }
  
  .estado-sin-retorno {
    background-color: #f8d7da; /* Rojo claro */
    color: #721c24; /* Rojo oscuro */
    border-radius: 6px;
    padding: 0 4px;
  }

@keyframes ldio-tb9ijrw9hk {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.ldio-tb9ijrw9hk div {
    left: 47px;
    top: 24px;
    position: absolute;
    animation: ldio-tb9ijrw9hk linear 0.5319148936170213s infinite;
    background: #6475e6;
    width: 6px;
    height: 12px;
    border-radius: 3px / 6px;
    transform-origin: 3px 26px;
}

.ldio-tb9ijrw9hk div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.48758865248226946s;
    background: #6475e6;
}

.ldio-tb9ijrw9hk div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.4432624113475177s;
    background: #6475e6;
}

.ldio-tb9ijrw9hk div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.3989361702127659s;
    background: #6475e6;
}

.ldio-tb9ijrw9hk div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.35460992907801414s;
    background: #6475e6;
}

.ldio-tb9ijrw9hk div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.3102836879432624s;
    background: #6475e6;
}

.ldio-tb9ijrw9hk div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.26595744680851063s;
    background: #6475e6;
}

.ldio-tb9ijrw9hk div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.22163120567375885s;
    background: #6475e6;
}

.ldio-tb9ijrw9hk div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.17730496453900707s;
    background: #6475e6;
}

.ldio-tb9ijrw9hk div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.13297872340425532s;
    background: #6475e6;
}

.ldio-tb9ijrw9hk div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.08865248226950354s;
    background: #6475e6;
}

.ldio-tb9ijrw9hk div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.04432624113475177s;
    background: #6475e6;
}

.ldio-tb9ijrw9hk div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #6475e6;
}

.loadingio-spinner-spinner-9os9dkbppo {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.ldio-tb9ijrw9hk {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.71);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-tb9ijrw9hk div {
    box-sizing: content-box;
}

/* generated by https://loading.io/ */