spring:
  application:
    name: LibrarySystem

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop

  mail:
    host: smtp.gmail.com
    port: 587
    username: easylibraryteam@gmail.com
    password: prywjwzxoxpyolhf
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            trust: smtp.gmail.com

jwt:
  secret: secretsecretsecretsecretsecretsecretsecretsecret
  expiration: 36000

media:
  location: C:\Users\cristian.lm\Desktop\code\java\LibrarySystem-SpringBoot-Angular\docker\media

mail:
  urlFront: "https://wksvzctx-4200.use2.devtunnels.ms)/change-password/"